@use "@/styles/mixins.scss" as *;

.swiper-navigation {
  @include flex-gap(0.7em);
  z-index: var(--swiperNavigation-zIndex);
  position: absolute;
  bottom: 40px;
  right: 30px;

  .next-slide {
    svg {
      margin-left: 8px;
    }
  }
}
