@use "@/styles/mixins.scss" as *;

.cart-box {
  position: relative;

  .dialog-cta {
    @include icon-size(24px);
  }

  .dialog {
    @include take-all-space;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.3);
    padding: 2.3em;

    .close {
      margin-bottom: 2em;
    }

    ul {
      @include grid-gap(1.5em);

      li {
        @include flex-align-center;
        gap: 2em;

        img {
          object-fit: scale-down;
        }

        .wrapper {
          @include grid-gap(1em);
          flex: 1;

          p {
            @include flex-space-between;
            gap: 4em;

            .color {
              @include flex-align-center;
              gap: 0.7em;

              span {
                @include size(15px);
                border-radius: 50%;
                background-color: var(--bg-color);
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .more {
      background-color: var(--clr-primary);
      margin-top: 2em;
      width: 100%;
      border-radius: 10px;
      padding: 1em 1.5em;
      display: inline-block;
      text-align: center;
    }

    @include on-pc {
      position: absolute;
      border-radius: 1em;
      white-space: nowrap;
      bottom: unset;
      right: unset;
      left: -20px;
      top: 170%;

      ul {
        max-height: 300px;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .empty-cart {
        padding: 3em;
      }
    }
  }

  @include on-phone {
    display: none;
  }
}
