@use "@/styles/mixins.scss" as *;

.filter-products {
  button {
    padding: 1em 1.5em;
    background-color: var(--clr-gray-350);
    border-radius: 10px;
  }

  form {
    background-color: white;
    padding-top: 1em;
    padding: 3em;
    width: 100%;
    height: 100vh;

    h2 {
      font-size: 1.2rem;
      @include flex-align-center;
      margin: 2em 0 1.5em 0;
      gap: 0.5em;

      &::before {
        content: "";
        display: inline-block;
        @include size(12px);
        border-radius: 50%;
        background-color: var(--clr-secondary);
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-right: 1em;
      gap: 2.5em;

      label {
        @include flex-align-center;
        white-space: nowrap;
        gap: 1em;
      }
    }

    .switch-container {
      @include flex-align-center;
      gap: 1.5em;

      .switch {
        margin-top: 10px;
      }
    }

    .submit {
      background-color: var(--clr-primary);
      margin-left: 1em;
    }

    @include on-pc {
      width: auto;
      height: auto;
      border-radius: 15px;
    }
  }
}
