@use "@/styles/mixins.scss" as *;

.hero {
  position: relative;

  img {
    @include size(100%, 420px);
    object-fit: cover;
  }

  .swiper-navigation {
    @include not-visible;
    transition: all 250ms ease-in-out;
  }

  &:hover .swiper-navigation {
    @include visible;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--clr-gray-350);
    padding: 0.3em 0.6em;
    border-radius: 1em;
  }
}
