@use "@/styles/mixins.scss" as *;

.pagination {
  margin-top: var(--sections-margin-top);

  ul {
    display: flex;
    justify-content: center;
    gap: 1em;

    a {
      @include size(44px);
      @include flex-center;
      background-color: var(--clr-gray-350);
      border-radius: 50%;
      font-size: 18px;
      padding-top: 0.2em;

      &.active {
        pointer-events: none;
        background-color: var(--clr-primary);
      }
    }
  }
}
