@use "@/styles/mixins.scss" as *;

.shop-client {
  .filters {
    @include flex-align-center;
    justify-content: space-between;
    margin-top: var(--sections-margin-top);

    .right-col {
      h2 {
        @include flex-align-center;
        font-size: 1.3rem;
        gap: 1em;

        svg {
          @include size(33px);
        }
      }

      p {
        margin-top: 0.7em;
      }
    }

    .left-col {
      @include flex-gap(1em);
    }
  }
}
